.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes loading {
  0% {
    background-color: #191919;
    width: 100%;
  }
  50% {
    background-color: #333333;
    width: 70%;
  }
  100% {
    background-color: #252525;
    width: 100%;
  }
}

.singInMain {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #191919;
}

/* ////////////////////// */


.lineStyle{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin-bottom: 2px;
}
.wrapper2 {
  display: flex;
  flex-direction: row;
 background-color: #191919;
 
}
.categoryItem{
  padding-right: 82px;
  color: #8cc03d;
  text-decoration:underline;
  font-weight: bold;
}




